.header {
    grid-area: h;

    display: grid;
    width: auto;
    background: linear-gradient(180deg, #EFF6BE 99.99%, rgba(255, 255, 255, 0) 100%);

    grid-template-columns: 5fr 6fr 1fr;
    grid-template-areas:
            "vacancy create login";

    height: 90px;
    left: -1px;
    top: 0px;
    border-bottom: 1px solid black;



}

.vacancy{
    color: red;
    vertical-align: middle;
    justify-self: center;
}
.vacancy button {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    height: 80px;
    width: 190px;
    border: none;
    background: linear-gradient(180deg, #EFF6BE 99.99%, rgba(255, 255, 255, 0) 100%);
}
.vacancy button:hover {
    transition-duration: 0.4s;
    background: #D0E6C3;
}
.create{
    color: red;
    vertical-align: middle;
    justify-self: end;

}
.create button {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    height: 80px;
    width: 290px;
    border: none;
    background: linear-gradient(180deg, #EFF6BE 99.99%, rgba(255, 255, 255, 0) 100%);
}
.create button:hover {
    transition-duration: 0.4s;
    background: #D0E6C3;
}
.login{
    position: static;
    left: 24.4%;
    right: 43.06%;
    top: 34.44%;
    bottom: 34.44%;
    justify-self: end;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #000000;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 100px;

}
.login button {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;

    color: #000000;
    height: 80px;
    width: 190px;
    border: none;
    background: linear-gradient(180deg, #EFF6BE 99.99%, rgba(255, 255, 255, 0) 100%);
}
.login button:hover {
    transition-duration: 0.4s;
    background: #D0E6C3;
}

.item a{
    color: black;
    text-decoration: none;
}

.text {
    color: firebrick;
    font-size: 50px;
    margin-top: 0px;
}

.item a.activeLink {
    color: blueviolet;
}
