.vacancy {
    background-color: white;

    border: 1px solid rgba(51, 84, 31, 0.7);
    background-color: white;
    margin: 20px 50px;
    padding: 5px;
}

.text {
    left: 1.36%;
    right: 76.24%;
    top: 75.94%;
    bottom: 13.21%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;

    color: #000000;

    opacity: 0.8;
}

.company {
    grid-area: c;
    left: 1.36%;
    right: 76.24%;
    top: 75.94%;
    bottom: 13.21%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 23px;

    color: #000000;

    opacity: 0.8;
}
.date {
    grid-area: d;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;

    color: rgba(0, 0, 0, 0.8);
}
.paid {
    grid-area: p;
    left: 1.58%;
    right: 83.26%;
    top: 34.91%;
    bottom: 51.89%;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 28px;

    color: #006C0B;
}

.adress {
    grid-area: a;
    left: 3.54%;
    right: 84.62%;
    top: 55.19%;
    bottom: 33.96%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 23px;

    color: #000000;

    opacity: 0.8;
}
.specialisation {
    grid-area: s;
    left: 1.58%;
    right: 60.48%;
    top: 12.26%;
    bottom: 73.58%;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;

    color: rgba(0, 0, 0, 0.7);
}
.text {
    left: 1.36%;
    right: 76.24%;
    top: 75.94%;
    bottom: 13.21%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;

    color: #000000;

    opacity: 0.8;
}