.item {
    border: 1px solid rgba(51, 84, 31, 0.7);
    background-color: white;
    margin: 20px 50px;
    padding: 5px;
}

.name {
    margin: 0px;
    padding-left: 40px;
}
.feed {
    width: 96%;
    margin: 0px auto;
    background: white;
}
.text {
    left: 1.36%;
    right: 76.24%;
    top: 75.94%;
    bottom: 13.21%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;

    color: #000000;

    opacity: 0.8;
}